sudo: false
language: java
jdk:
- oraclejdk8
addons:
  apt:
    packages:
    - oracle-java8-installer
env:
  global:
  - secure: qyKpHBp7FkbdlaNVUiu2NHKbFqGpfkDs7e0XLC9C/X3ZmHDAjY1WA7HKryIR3w/8xm73HdxiAmPayC8FYkzPdU+Jpppbq4OQKudI0/Vs5Fm+a/3nXITP609G7lc23bq2dco/OOgC1ZYkgKr2KjFD8hBZd0ELbzAoAsJYCEBAwYowmTu0CDH6ET5Z6Nvlqw9B/t7dzIrUnrIFnGZobvPEva/CA5v74IZWG0q9Gc5mlK5OFigLzdQKCUfRUfH46cfkQHwCjb+xYCLjy582o2Xcu+1bsVPzbVRXROFWwug2X+wHK/dBnop00kbfDwz7AkvjH98dCNtM32ZHn7lRTRZZca8bh5FYlIjgTpcte/66RhOtK3uUKv8C9g2iQ6hNkKlMiMrDftbEK8EFgNfFjJxGv/9XruxgT6taNiGHFn0EGJgPaL2XpPQ7avPAvQlmgArRUlfh7OLR+2A+CtO9gknCsj6E1i4UucEdcHfgQVw/aD2A/9HwiHjD0tZsuMnuXklMYvjR8xOZlKVgfKEPad9KgvKOSsdWqoqa2ymZE5fKOPNuDF8R2l7ZWtxxf9rqjo3c6zZG7tLw7c4n/lTy/RVxzHD/qYBUjyuuPtarrVrx8A7Al9F6rJoMZyOq+at2VhuS0YC14fjsxeaFS9dsc/r4MN4FvQocPmK4RGI60G+eMJM=
  - secure: rivQEneOtlc22LWcNmGS4QCtv0E3Ilcl745ZJFMFbIoHUiMZQbE0KY9CAOtkUJqWZUgrzVART64YFyxyOKmou2pal2u0hI/4NPt0a7N+H7qdiN8TMLH/Q21RNNeqdY8mwE4AvKfCJO9K0wd/6QXsSy2wZqXHD/vlKsyAn5y1aVqmjDDZ0o8+oYHm3GLP1LYeij5K/UTbGICDuH9e9hemqC2A99oj8G+BfAEzMnsuDTXv3dNm/YBUbVWenh6q8YP7iytsa5jfICwvBWHnx1ExQvSKa2PuhkF4HNpPTyLoAO1hJZuNfRiL5QlpuiGHgQ2GYxGEVaCCI+pdPz8vO6hUwdcDzRm7qHcex4QcTVfwktqD1rte720L6ZP6+8ZjQFBdc29A8x3BT2k0GHxQztxghwCWk+KqZiyse8M8cGgMqHDbe8IO7lj4LSWQ4c5N0UIxVtR1IVtcgWChCiSxtOQ5XXT3HUnBFT8AN/wMBPSa4ZfNfMpu8j8NuSLSem7mlxZYu9+YHCqEQIE2qbakOFiy6vN3bg0hSTTBjDZglhrbjkVd94hmf8mB6I5fX9WSzOhns6FE7gieXdcWZ8d7giA5bNqgbG5nH2h0MtG0ssE5ROkCRB+SELHc2fYhk+CiaD/+23qSG74LaHngnmbW9ZL1U5ITseWgZYf0eSYsQwcb7u4=
  - secure: mHOexGYsYGjvEs9K9S2WpC4b48+vvr2RBG3hgsedLPnwPeSO/QmyocO9yqIaIYzUg89RnqcXo5/8yhm7UJ6PtcBD7qVefM2e6aDxd+areJ+hX3xRim/zoqLPlUl+871spnYZh5/yPZQTxFL+5o32bBuyKFDQxz6VQ0qm2Flj77JV3sG+LND9RURn6UcKeSk26uv8OFZd4VmNEFXdRLtQeK/8wTOOPjFHRnyAUMifiV94Mj+mC0s0RMQbG4kmWbNBclbxaLHTtB+AGkFXZsATFJL1HT502OwsTiOxYZjnbYmbzDMXZ6mS0JeCBSqPxvPAc/HOyYFmESXu+Nq361R6DLorCOx+MeEz9Ab9Sig9tKr9WCwLuXZ8sxty3aV41OgM21mFa0itbMRTPjRlyORPHM79jGLtAP/D7rbgbBmP8nH1udgKBif0DtO1jQR2PpinlUlzlnD73gmxKAx4dDjfo1FNUz01KbBlq76z4w6sjmvcGFeAb4TmGzjhGEDzK/hiDhTX3T3dPedHmVCZy9kkuhDp6hyjs7KHf/2oGIiqavJcv3PXzQx1voY/LXOnhaC0pq2DZtb2Z53hDAhHtrNM6tZ2zaVccGG3SiHhquCcKJu11Q1o5I0ZjuICdd8mEVmlSqsLO/rzHGkZhHqeuCPX+2WPnMqlBxaFpjQOKqqdQTI=
  - secure: fLQ9N1GAtPZFfO4poQK7RmsmsqEAtDezuv1n7f0hNueN2gWr+VxTmPNT10T+g49Qspl1yl0Xp8MVVUZjJ3s335368YOEi7/9uwxEbdTtAItIWybaJjb/QmSSjtNXCP4J89iI5YBqwbFH3x8ufC/6JbapW970D29mignFeRer0jQyTwZ/kRQO3dF+Ha/V+l1TujFSaKZIrgS+tU6n7FYMXke5r4VqNfvl+VbYJhZhbckJ8ZAToTqgfwsmtshCB+DhLazikxXyOPpE65+25bcq7QdwHEhbqHUJe6f9EClTo+1KcEi9IgkKP8bvan9jKKtsyd4xblbks3LOfK16pt+0yrAgW2tgZoZqtIvQXGsL5tEeYT75shkks5bI6C7Q6AL6/UQu+jGVRTMMsbxa+i550X5fSOJvv78iRT9mYkQPxWsYEqUWK+TEedTSel3VARfM2fqSL9t6z/b1bmvMU0jZn6f1GQmcMNzzYpThYtsn/8CiiqKwNoOFv1jVwtqDiMR/ECelGTBE2rKUtVwTVc8tcTmw6iXy3lBEItjKNAkzJxvOCdzN1Q8Ngm953FXT8AmR0mp8AJ0nqooflfMhnj9tRiSuiGsQoJulbhK0IM7Cd4vgSzX4DfhggkJok1YpkMZU53uYIrjjSJIjRGiJQTsjsw3e/elCpeephdlcF3D2gak=
script:
#travis_wait 360 mvn clean test -U
- gpg --import .travis.key.gpg
#- mvn versions:set -DnewVersion=${TRAVIS_TAG}
- mvn clean deploy -P release --settings .travis.settings.xml
#deploy:
#  provider: script
#  script:
#  - gpg --import .travis.key.gpg
#  - mvn versions:set -DnewVersion=${TRAVIS_TAG}
#  - mvn clean deploy -P release --settings .travis.settings.xml
#  on:
#    tags: true
